<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Share Notes</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Share Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>User</th>
            <th>Note</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for note in data %}
            <tr>
                <th scope="row">{{note[0]}}</th>
                <td>{{note[1]}}</td>
                <td>{{note[2]}}</td>
                <td>{{note[3]}}</td>
                <td>
                  <a class="btn btn-danger" href="/delete/{{note[0]}}">Delete</a>
                  <button class="btn btn-warning" id="edit-btn" onclick="openEditForm('{{note[0]}}', '{{note[1]}}', '{{note[2]}}', '{{note[3]}}')">Edit</button>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <form class="form-inline" id="editForm" method="POST">
      <div class="form-content">

        <h1>Edit Note Data</h1>
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" name="editid" id="id_" readonly>
        <input type="text" class="form-control mb-2 mr-sm-2" name="editdate" id="date" readonly>
        <input type="text" class="form-control mb-2 mr-sm-2" name="edituser" id="user" readonly>
        <input type="text" class="form-control mb-2 mr-sm-2" name="editnote" id="note">
      
        <input type="submit" name="submitBtn" class="btn btn-primary mb-2" value="Save">
        <input type="submit" name="submitBtn" class="btn btn-outline-danger mb-2" value="Close">
        
      </div>
    </form>

    <button class="open-button btn btn-outline-success" id="open-btn" onclick="openForm()">Add note</button>

    <div id="form-popup">
        <form id="form-container" method="POST">
            <div class="form-group">
            <label for="formGroupExampleInput">Note Text</label>
            <input type="text" name="note" class="form-control" id="formGroupExampleInput" placeholder="Note" required>
            </div>
            <input type="submit" class="btn btn-outline-primary" name="submitBtn" value="Add">
            <button type="button" class="btn cancel btn-outline-danger" onclick="closeForm()">Close</button>
            {% for msg in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> {{msg}}
                </div>
            {% endfor %}
        </form>
    </div>

    <script>
        function openForm() {
          document.getElementById("form-popup").style.display = "block";
          document.getElementById('open-btn').style.display = "none";
        }

        function closeForm() {
          document.getElementById("form-popup").style.display = "none";
          document.getElementById('open-btn').style.display = "block";
        }

        function openEditForm(id_, date, user, note) {
          document.getElementById('editForm').style.display = "block";

          document.getElementById('id_').value = id_;
          document.getElementById('date').value = date;
          document.getElementById('user').value = user;
          document.getElementById('note').value = note;
        }

        function closeEditForm() {
          document.getElementById('editForm').style.display = "none";
        }
    </script>
</body>
</html>